
  <div class="col-md-6 col-md-offset-3 text-center" id="student">
    <h1 class="welcome"> Welcome <%= current_user.name %> </h1>
    <img src="http://res.cloudinary.com/marcia/image/upload/v1487874206/software_developers_hipolp.png" alt="Developer team" height="235px">
    <h3>Your daily match is: </h3>
      <div class="text-align" id="match">
        <h4><%= @matched_student.name %></h4>
      </div>
  </div>
</div>
