
  <div class="col-md-6 col-md-offset-3 text-center" id="student">
    <h1 class="welcome"> Welcome <%= current_user.name %> </h1>
    <h3>Your daily match is: </h3>
      <div class="text-align" id="match">
        <h4><%= @match.matched_user %></h4>
      </div>
  </div>
</div>
